.banner {
  background-image: url("../../images/night_sky.jpeg");
  background-size: cover;
  background-position: center;
  padding: 200px 200px;
  color: #EEEEEE;
}

.banner-avatar {
  width: 150px;
  border-radius: 50%;
}
