.container-cards {
  text-align: center;
}

.container-cards h2

{
  color: #8F2D56;
  font-weight: 900;
}

.cards {
  display: flex;
  justify-content: space-evenly;
}

.card {
  border: 1px solid #BD4B4B;
  border-radius: 10px;
  padding: 30px 50px;
  width: 200px;
  text-align: left;
  box-shadow: 3px 3px 4px darkgrey;
}

.card h3 {
  text-align: center;
}

#card-first h3 {
  font-size: 20px;
}

.container-list {
  font-family: 'Open Sans', sans-serif;
  margin-top: 32px;
}

.container-list i {
  color: #BD4B4B;
}

.container-second {
  margin: 0;
  text-align: center;
}

.cards-second {
  display: flex;
  justify-content: space-between;
  height: 160px;

}

#first {
  width: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../images/lube_1.jpeg");
  background-size: cover;
  background-position: center;
  padding: 10px 10px;
  color: white;
  text-align: center;
}

#second {
  width: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../images/image.webImage.file.png");
  background-size: cover;
  background-position: center;
  padding: 10px 10px;
  color: #EEEEEE;
}


.card-second-type a {
  background-color: #BD4B4B;
  text-decoration: none;
  color: #EEEEEE;
  width: 64px;
  border-radius: 4px;
  padding: 4px 16px;
}

.card-second-type a:hover {
  text-decoration: none;
  color: #EEEEEE;
}

.card-second-button a:hover {
  color: #B2B1B9;
}


.photo-album {
  background-color: white;
}

.album-text {
  text-align: left;
  padding: 20px;
  margin-left: 30px;
}

.photo-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.photo-album-card > img {
  height: 320px;
  object-fit: cover;
}

.photo-album-card {
  margin: 10px;
}
